.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.qr-dialog {
  text-align: center;
  margin-bottom: 20px;
}

.qr-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  margin: auto;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}
.asistencia-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #3498db;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  position: relative;
}

.asistencia-titulo::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #3498db;
  margin: 10px auto 0;
  border-radius: 2px;
}

.asistencia-titulo:hover {
  color: #2980b9;
}
