.cabecera {
  background-color: #5cc8de;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Altura reducida para pantallas móviles */
  border-bottom: 1px solid #e0e0e0;
}

.institucion h1, .seccion-titulo h1 {
  font-size: 1.2rem; /* Ajustar el tamaño del título */
  margin: 0;
}

.usuario-info p {
  font-size: 0.9rem; /* Reducir tamaño del texto */
}

.bienvenida-container {
  background-color: #cacbcd;
  padding: 10px;
  text-align: center;
}

.bienvenida-container p {
  margin: 0;
  font-size: 1rem;
}
