<div class="cabecera" [ngClass]="{'iniciado': usuario !== ''}">
  <!-- Título de la Institución a la izquierda -->
  <div class="institucion">
    <h1>Institución</h1>
  </div>

  <!-- Título de la Sección centrado, solo aparece si el usuario está logueado -->
  <div class="seccion-titulo" *ngIf="usuario !== ''">
    <h1>Sección Actual</h1>
  </div>

  <!-- Información del Usuario a la derecha, solo si el usuario está logueado -->
  <div class="usuario-info" *ngIf="usuario !== ''">
    <p class="logout">
      <a (click)="logout()">Logout</a>
    </p>
  </div>
</div>

<!-- Mensaje de bienvenida debajo del header -->
<div class="bienvenida-container" *ngIf="usuario !== ''">
  <p>Bienvenido: {{usuario}} - {{usuarioCompleto.rol}}</p>
</div>
