<ion-content class="login-content">
  <app-header></app-header>

  <div class="form-container">
    <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>

    <h2 class="login-title">Iniciar Sesión</h2>

    <ion-item class="form-item">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" required></ion-input>
    </ion-item>
    <ion-item class="form-item">
      <ion-label position="floating">Clave</ion-label>
      <ion-input [(ngModel)]="clave" type="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="login(usuario, clave)" class="login-button">Iniciar sesión</ion-button>

    <ion-text color="danger" *ngIf="loginFailed" class="error-message">
      Usuario o clave incorrectos.
    </ion-text>

    <ion-item lines="none" class="register-item">
      <ion-text color="medium">
        <a routerLink="/registrar">¿No tienes cuenta? Regístrate aquí</a>
      </ion-text>
    </ion-item>
  </div>

  <app-footer></app-footer>
</ion-content>
